<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <p> <%= link_to restaurant.name, restaurant %>, <%= restaurant.category %> </p>
<% end %>

<p><%= link_to "add a restaurant", new_restaurant_path %></p>
